.--gaellery-page {
    margin-top: 2rem;
    margin-right: 2rem;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px;

}

.item-image {
    width: 300px;
    height: 300px;
    margin: 10px;
    
}